.container34{
    text-align: center;
    justify-content: center;
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    width: 80vw;
    height: auto;
    padding: 5px;
    align-items: center;
    margin: 40px;
}

