/* 
.foto-principal{
    height: 50vh;
    width: auto;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.foto-whats{
    height: 5vh;
    width: auto;
    text-align: center;
}

.foto-like{
    
    height: 12vh;
    width: auto;
}
.whats{
    display: flex;
    padding: 3vh;
} */